<div>

    <div class="container-fluid" style="height:100px; background-color:rgb(255, 102, 0); border-radius:0px 0px 0px 60px;">
    <div  >
    <h5 class="pt-4 ps-5" style="color:whitesmoke">Back</h5>
    </div>
    <div>
    <h4 class="d-flex justify-content-center" style="color:whitesmoke; position: relative; bottom:25px;">Order #1103</h4>
    </div>
    </div>

</div>

<div class="d-flex justify-content-center mt-5">
   <button class="btn btn-outline-danger p-3 w-25 ">Scan order</button>
</div>

<div>
    <div class="m-5 position:relative;" style="border: 2px darkorange solid; border-radius: 15px;padding: 100px;">
        <div>

        </div>
    </div>
</div>

<div class="m-5">
   <div class="container-fluid row">

    <div class="col-4 d-flex justify-content-center">
      <strong>Enter barcode manually </strong>
    </div>
    <div class="col-4">
      <input class="w-100 h-100"style="text-align: center; border:1px darkorange solid; border-radius:15px;"type="text" placeholder="Enter barcode"/>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <button style="text-align: center; border:1px darkorange solid; border-radius:15px;" type="button" class="btn btn-outline-primary">submit</button>
    </div>
   </div>
</div>