<div>
    <div class="row" style="height:100px; background-color:rgb(255, 102, 0); border-radius:0px 0px 0px 60px;">
        <div class="col-6 p-4">
           <strong style="color: whitesmoke; position: relative;top: 10px;">Go to OrderlistPage</strong>
        </div>
        <div class="col-6 p-4 float-end" style="color: whitesmoke;">
           <strong class="float-end me-3" style="color: whitesmoke;position: relative;top: 10px;">#Order118</strong>
        </div>
    </div>
</div>



<div class="row ps-4 pe-4 mt-5">
    <div class="col d-flex justify-content-start">
       <h1 style="color: darkorange;">Packages</h1>
    </div>
    <div class="col d-flex justify-content-end">
       <h4 class="mt-2">Total:3</h4>
    </div>
</div>


<div class="px-4 py-2" *ngFor="let o of array">

    <div class="container-fluid ">
    <div class="row " style="border:2px darkorange solid;border-radius: 15px;" >
        <div class="col-1 d-flex align-items-center ps-0">
           <div class=" p-1">1</div>
        </div>
        <div class="col-5">
            <div class="m-1 p-3">
              <div>PackageType</div>
              <div>{{o.name}}</div>
            </div>
            <div class="m-1 p-3">
                <div>Weight</div>
                <div>{{o.weght}}</div>
              </div>
        </div>
        <div class="col-4">
            <div class="m-1 p-3">
                <div>LWH(cm)</div>
                <div>{{o.lwh}}</div>
                
            </div>
            <div  class="m-2 p-3">
                <div>Boxes</div>
                <div>{{o.box}}</div>
            </div>
        </div>
        <div class="col-2 p-1" style="background-color: aqua;">
            
        </div>
    </div>
    </div>
</div>


<div>
    <h2  class="ms-4 mt-4" style="color:darkorange">Additional Info</h2>
</div>
<div class="container-fluid">
    <div class="row m-3" style="border:2px darkorange solid; border-radius:15px">
       <div class="col-6">
       <div class="d-flex flex-column p-4 w-100">
         <div class="m-3 d-flex flex-column align-items-center">
             <p>From Address</p>
             <p><strong>Karimnagar</strong></p>
         </div>
         <div  class="m-3 d-flex flex-column align-items-center">
            <p>Order Date</p>
            <p><strong>03/11/1997</strong></p>
         </div>
          <div  class="m-3 d-flex flex-column align-items-center">
            <p>Order Value</p>
            <p><strong>3000</strong></p>
          </div>
        </div>
       </div>
       <div class="col-6">
        <div class="d-flex flex-column p-4 w-100">
            <div class="m-3 d-flex flex-column align-items-center">
                <p>To Address</p>
                <p><strong class="w-100">Warehouse</strong></p>
            </div>
            <div  class="m-3 d-flex flex-column align-items-center">
               <p>Order Status</p>
               <p><strong>InTransit</strong></p>
            </div>
             <div  class="m-3 d-flex flex-column align-items-center">
               <p>Total Packages</p>
               <p><strong>1</strong></p>
             </div>
           </div>
       </div>

    </div>
</div>


<div>
    <div class="d-flex justify-content-center">
        <button class="px-5 py-3"  type="button" style="border: 2px darkorange solid; border-radius: 15px;">Mark As An hold</button>
    </div>
</div>
